.check-breadcrumb {
    color: var(--c-sec-deep);
    padding-top: 30px;
    padding-left: 270px;
}

.check-user-info {
    width: 1550px;
    min-height: 385px;
    background: var(--c-bg-mid);
    border-radius: 20px;
    margin: 20px auto;
}

.check-form-title {
    color: var(--c-pri);
    margin: 50px;
}

@media screen and (max-width:768px) {
    .check-breadcrumb {
        opacity: 0;
        padding-top: 0px;
    }
    .check-user-info {
        width: 720px;
    }
    .check-form-title {
        margin: 20px 50px;
    }
}

/* 表單欄位 */

.check-order-form {
    padding: 0px 50px;
}

.check-label-text {
    color: var(--c-pri);
}

label {
    color: var(--c-pri);
}

.checkout-input {
    outline-style: none;
    border: 0px;
    border-radius: 10px;
    width: 290px;
    height: 45px;
}

.checkout-input:focus {
    border-color: var(--c-sec-mid);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05), 0 0 8px #fab751;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05), 0 0 8px #fab751
}

.check-input-mail {
    width: 430px;
    height: 45px;
    border: 0px;
    border-radius: 10px;
}

.check-input-mail:focus {
    border-color: var(--c-sec-mid);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05), 0 0 8px #fab751;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05), 0 0 8px #fab751
}

.check-form-select {
    border: 0px;
    border-radius: 10px;
    width: 290px;
    height: 45px;
}

.check-form-select:focus {
    border-color: var(--c-sec-mid);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05), 0 0 8px #fab751;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05), 0 0 8px #fab751
}

@media screen and (min-width: 1430px) {
    ::placeholder {
        opacity: 0;
    }
}

@media screen and (max-width: 768px) {
    .check-form-input {
        display: flex;
        flex-direction: column;
    }
    .checkout-input {
        width: 560px;
        height: 60px;
    }
    .check-birthday {
        width: 500px;
        height: 60px;
    }
    .check-input-mail {
        width: 560px;
        height: 60px;
    }
    .check-label-text {
        display: none;
    }
}

/* checkbox樣式 */

.check-check-label {
    font-size: 1.125rem;
    color: var(--c-pri);
    margin-bottom: 50px;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    background: #fff;
    -webkit-appearance: none;
    border: 1px solid var(--c-pri);
    border-radius: 2px;
    outline: none;
    margin-right: 15px;
}

input[type="checkbox"]:checked {
    background: var(--c-pri);
    border-color: var(--c-pri);
}

.check-comment {
    width: 620px;
    height: 180px;
    border: none;
    border-radius: 5px;
}

.check-comment:focus {
    border-color: var(--c-sec-mid);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05), 0 0 8px #fab751;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05), 0 0 8px #fab751
}

@media screen and (max-width: 768px) {
    .check-comment {
        width: 560px;
    }
}

/* 訂單 */

.check-order {
    width: 1450px;
    min-height: 200px;
    background: #fff;
    border-radius: 20px;
    margin: 0 auto;
}

.check-order-image {
    width: 363px;
    min-height: 250px;
    border-radius: 20px;
    margin: 40px;
    overflow: hidden;
    object-fit: cover;
}

.check-order-title {
    font-weight: bold;
    color: var(--c-pri);
    margin-top: 50px;
}

.check-order-info {
    color: var(--c-pri);
}

.check-order-info i {
    font-size: 1.25rem;
}

.check-deputy-title {
    font-weight: bold;
    color: var(--c-pri);
    margin: 50px;
}

.check-btn-continue {
    color: var(--c-pri);
}

@media screen and (max-width: 768px) {
    .check-order {
        width: 650px;
    }
    .check-order-image {
        height: 200px;
        margin: 15px;
    }
    .check-order-title {
        margin-top: 10px;
        padding-right: 15px;
    }
    .check-deputy-title {
        display: none;
    }
}

/* 付款 */

.check-payment {
    font-weight: bold;
    margin-top: 50px;
    margin-left: 50px;
}

.check-form-check {
    margin-top: 10px;
    margin-left: 50px;
}

input[type="radio"]:checked {
    background: var(--c-pri);
}

input[type="radio"]:focus {
    border-color: var(--c-sec-mid);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05), 0 0 8px #fab751;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05), 0 0 8px #fab751
}

.check-total-info {
    font-weight: bold;
    color: var(--c-pri);
    margin-top: 50px;
    margin-right: 100px;
}

.check-point-info {
    font-weight: bold;
    color: var(--c-pri);
    margin-top: 20px;
}

.check-btn-userpoint {
    color: var(--c-pri);
    margin-right: 50px;
    margin-top: 10px;
}

.check-line {
    border: 2px solid #fff;
    background: #fff;
    margin: 50px 0px;
}

.check-subtotal {
    font-weight: bold;
    color: var(--c-pri);
    margin-left: 50px;
    margin-right: 90px;
    margin-bottom: 30px;
}

.check-total {
    color: var(--c-pri);
    margin-top: 5px;
}

.check-sum {
    color: var(--c-pri);
    margin: 0px 30px;
}

.check-btn-checktotal {
    color: var(--c-bg-light);
    margin-bottom: 50px;
    margin-right: 8%;
}

@media screen and (max-width: 768px) {
    .check-btn-checktotal {
        margin-right: 0px;
    }
}

/* nav */

@media screen and (min-width: 768px) {
    .check-title-text {
        opacity: 0;
    }
}

@media screen and (max-width: 768px) {
    nav {
        display: none;
    }
    .check-rwd-title {
        height: 100px;
        background: var(--c-pri);
    }
    .check-title-text {
        padding: 15px;
        color: var(--c-bg-light);
    }
}

/* main */

@media screen and (max-width: 1430px) {
    .check-btn-continue {
        display: none;
    }
    .check-label-text {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1430px) {
    .check-user-info {
        width: 760px;
    }
    .check-form-input {
        display: flex;
        flex-direction: column;
    }
    .checkout-input {
        width: 380px;
        height: 60px;
    }
    .check-birthday {
        width: 320px;
        height: 60px;
    }
    .check-input-mail {
        width: 380px;
        height: 60px;
    }
    .check-form-select {
        width: 380px;
        height: 60px;
    }
    .check-input-group {
        height: 60px;
        display: flex;
        flex-direction: column;
    }
    .check-btn-date {
        width: 60px;
        height: 60px;
    }
    .check-form-title {
        margin: 20px 50px;
    }
    .check-order {
        width: 650px;
    }
    .check-order-image {
        height: 200px;
        margin: 15px;
    }
    .check-order-title {
        margin-top: 10px;
        padding-right: 15px;
    }
    .check-deputy-title {
        margin: 30px 50px;
    }
    .check-btn-checktotal {
        margin-right: 20%;
    }
}