h1 {
    font-size: 2.25rem;
    font-weight: bold;
}

.title {
    padding-top: 20px;
    margin-left: 90px;
    color: var(--c-pri);
}

.hero {
    overflow: hidden;
    height: calc(100vh - 80px);
    border: none;
    position: relative;
}

/* #trending, #wizard {
    height: 100vh;
} */

#museum {
    height: 100vh;
    background: var(--c-bg-mid);
}

/* 快速選單 */

.tabs {
    padding: 4px;
    background: var(--c-pri-light);
    border-radius: var(--r-l);
    gap: 4px;
}

.tabs-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--r-m);
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--c-pri);
}

.tabs-item.active, .tabs-item:hover {
    background: var(--c-bg-light);
    color: var(--c-pri);
}

/* 商品卡片 */

.suggest-card-wrapper-forhome {
    padding: 0;
    justify-content: center;
}

.event-card-forhome {
    overflow: hidden;
    border-radius: 50px;
    background-color: var(--c-bg-mid);
    transition: 0.2s;
}

.event-card-forhome-img {
    height: 360px;
    padding: 24px;
}

.set-card-forhome {
    height: 220px;
    border-radius: 20px;
    margin: 0 15px 30px 20px;
    transition: .2s;
    background: var(--c-pri-light);
}

.set-card-forhome:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

.set-card-forhome-img {
    border-radius: 10px;
}

/* 小測驗 */

#wizard {
    background: var(--c-pri);
}

.wizard-banner {
    margin: 0;
    height: 300px;
    background: var(--c-pri);
}

.wizard-banner figure {
    margin: 0;
    padding: 0;
    border-top-right-radius: var(--r-xl);
    border-bottom-right-radius: var(--r-xl);
    background: var(--c-pri-light);
}

.wizard-banner h3, .wizard-tips a {
    color: var(--c-sec-mid);
}

.wizard-tips a:hover {
    color: var(--c-sec-deep);
}

.wizard-banner h2 {
    color: var(--c-bg-mid);
}

/* .wizard-wizard {
    height: 240px;
    background: var(--c-bg-mid);
    border-radius: 20px;
} */

.wizard-result-card {
    height: 300px;
    display: flex;
    background: var(--c-bg-mid);
    border-radius: 20px;
}

.wizard-number {
    font-size: 4rem;
    font-weight: bold;
}

.wizard-carousel {
    display: flex;
    align-items: center;
    background: var(--c-pri);
}

.wizard-form {
    height: 300px;
    display: flex;
    flex-direction: column;
    background: var(--c-bg-mid);
    border-radius: 20px;
}

.wizard-form-control img {
    height: 150px;
}

.wizard-form-range input[type="range"] {
    -webkit-appearance: none;
    /* overflow: hidden; */
    width: 100%;
    height: 20px;
    outline: none;
    background: var(--c-pri);
    border-radius: 50px;
}

.wizard-form-range input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    position: relative;
    width: 20px;
    height: 40px;
    background: var(--c-sec-deep);
    /* border-radius: 50%; */
}

.wizard-btn {
    position: absolute;
    z-index: 2;
    right: calc(50% - 75px);
    bottom: 5%;
    cursor: pointer;
    background: var(--c-bg-mid);
    color: var(--c-pri);

}

.wizard-tips {
    height: 120px;
    color: var(--c-bg-mid);
    background: var(--c-pri);
}

.home-search {
    width: 600px;
    height: 80px;
    background: #fff;
    border-radius: 20px;
    position: absolute;
    right: 3%;
    bottom: 3%;
    z-index: 1;
}

.home-input {
    width: 100% !important;
    height: 56px;
    border: none;
    border-radius: 10px;
    margin: 10px;
}

.home-input::placeholder {
    color: var(--c-pri);
}

.home-input:focus {
    border-color: var(--c-sec-mid);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05), 0 0 8px #fab751;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05), 0 0 8px #fab751;
}

.search-icon {
    cursor: pointer;
    color: var(--c-pri);
    margin-right: 15px;
}

.search-icon:hover {
    color: var(--c-pri-deep);
}

.quiz-text{
    color:var(--c-pri);
    font-weight: bold;
}