@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap);
@import url(https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined);
:root {
    /* 背景顏色 */
    --c-bg-light: #fefbe6;
    --c-bg-mid: #ffefc4;
    --c-bg-deep: #849b68;
    /* 輔助顏色 */
    --c-sec-light: #f9ca54;
    --c-sec-mid: #fab751;
    --c-sec-deep: #fca34f;
    --c-pri-light: #cede98;
    --c-pri: #637f60;
    /* 夜背景顏色 */
    --c-bg-light-night: #4c95ad;
    --c-bg-mid-night: #3b5e79;
    --c-bg-deep-night: #0d2451;
    --c-bg-dark-night: #021335;
    /* 夜輔助顏色 */
    --c-sec-light-night: #fefbe6;
    --c-sec-mid-night: #f9ca54;
    --c-sec-deep-night: #faad50;
    --c-pri-night: #104f75;
    /* 陰影 */
    --shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    /* 圓角半徑 */
    --r-xs: 2px;
    --r-s: 4px;
    --r-m: 8px;
    --r-l: 12px;
    --r-xl: 24px;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans TC', sans-serif;
    background: var(--c-bg-light);
}

/* 預計清理 */

/* 小圖示對齊 */

.material-icons, .material-icons-outlined {
    display: inline-flex;
    vertical-align: top;
}

.material-icons.cart {
    font-size: 40px;
    /* margin-right: 60px; */
    color: var(--c-pri);
}

/* 預計清理 */

/* 大按鈕 */

.btn-action {
    width: 200px;
    height: 60px;
    border: none;
    border-radius: 30px;
    background: var(--c-pri);
}

/* 小按鈕 */

.btn-outline {
    width: 150px;
    height: 50px;
    border: 3px solid var(--c-pri);
    border-radius: 25px;
    background: none;
    color: var(--c-pri);
}

.btn-outline a {
    color: var(--c-pri);
}

.btn-action, .btn-outline {
    font-size: 1.125rem;
}

/* 觸碰變色 */

.btn-action:hover {
    background: var(--c-bg-deep);
}

.btn-outline:hover {
    border: 3px solid var(--c-bg-deep);
    color: var(--c-bg-deep);
}

.btn-action, .btn-outline {
    font-size: 1.125rem;
    cursor: pointer;
}

/* ! 背景色 */

.custom-bg-light {
    background: var(--c-bg-light);
}

.bg-mid {
    background: var(--c-bg-mid);
}

.bg-deep {
    background: var(--c-bg-deep);
}

.sec-light {
    background: var(--c-sec-light);
}

.sec-mid {
    background: var(--c-sec-mid);
}

.sec-deep {
    background: var(--c-sec-deep);
}

.pri-light {
    background: var(--c-pri-light);
}

.bg-pri {
    background: var(--c-pri);
}

/*! 導覽列 */

.nav {
    height: 80px;
}

.nav-bg {
    background: var(--c-bg-light);
}

.logo {
    min-width: 200px;
}

.logo img {
    object-fit: cover;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.main-menu {
    font-size: 1.125rem;
    white-space: nowrap;
}

.main-menu li {
    white-space: nowrap;
}

.main-menu-a {
    color: var(--c-pri);
    padding-bottom: 5px;
}

.main-menu-a.active {
    border-bottom: var(--c-sec-deep) 3px solid;
}

.main-menu-a:hover {
    color: var(--c-bg-deep);
    border-bottom: var(--c-sec-light) 3px solid;
}

.day-night-switch {
    width: 100px;
    height: 40px;
    border-radius: 50px;
    font-size: 0.875rem;
}

.switch-ball {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 0 2.5px;
    transition: 0.5s;
    margin-left: 61.5px;
    background: white;
}

.day-night-switch .switch-text {
    left: 25px;
    transition: 0.3s;
    color: white;
}

.switch-ball.switch {
    margin-left: 2.5px;
}

.switch-text.switch {
    left: 50px;
}

.function-icon svg {
    font-size: 40px;
    color: var(--c-pri);
    margin: 0 10px;
}

.header-icon {
    font-size: 40px;
    color: var(--c-pri);
}

.avatar {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    /* display: none; */
}

.fix-right {
    position: fixed;
    right: 0;
}

/* 共用 */

.berger-list {
    display: none;
    align-items: center;
    color: var(--c-pri);
}

.berger-list .material-icons {
    font-size: 40px;
}

.text-bg-deep {
    color: var(--c-bg-deep);
}

.text-pri {
    color: var(--c-pri);
}

.text-sec-deep {
    color: var(--c-sec-deep);
}

.cover-fit {
    object-fit: cover;
}

ul {
    list-style: none;
}

.btn-outline.rwd {
    display: none;
}

.btn-outline.pc {
    display: flex;
}

.logout-icon.rwd {
    display: none;
}

.logout-icon.pc {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.logout-icon svg {
    font-size: 50px;
    color: var(--c-pri);
}

@media screen and (max-width: 1064px) {
    .main-menu {
        display: none;
        position: fixed;
        right: -500px;
        top: 80px;
        font-size: 1.25rem;
        font-weight: bold;
        z-index: 1;
        transition: 0.3s;
    }
    .main-menu ul {
        flex-flow: column;
        justify-content: stretch;
        background: linear-gradient(to bottom, #ffefc4 117px, #849b68 117px);
        margin-bottom: 20px;
        padding: 0 60px;
        border-radius: 30px 0 0 30px;
        min-height: 490px;
        height: calc(100vh - 80px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
    }
    .main-menu ul li {
        padding: 20px 0px;
        margin: 10px 0 !important;
    }
    .main-menu ul li a {
        color: var(--c-bg-light);
        padding: 15px 60px;
        border-radius: 10px;
    }
    .main-menu-a.active {
        border: none;
        color: var(--c-pri);
        background: var(--c-pri-light);
    }
    .main-menu-a:hover {
        background: var(--c-pri);
        color: var(--c-bg-light);
        border-bottom: none;
    }
    .main-menu ul li .btn-outline.rwd {
        display: flex;
    }
    .main-menu ul li .btn-outline.rwd a {
        color: var(--c-pri);
    }
    .berger-list {
        display: flex;
    }
    .berger-list svg {
        font-size: 48px;
    }
    .btn-outline.pc {
        display: none;
    }
    .logout-icon.rwd {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .logout-icon.pc {
        display: none;
    }
    nav .col {
        padding: 0;
    }
    .day-night-switch {
        margin-right: 20px;
    }
    .material-icons.cart {
        margin-right: 20px;
    }
    .footer {
        margin: 0;
    }
    .footer-link.menu li {
        display: none;
    }
    .d-none-rwd {
        display: none !important;
    }
}

/* footer共用 */

.footer {
    margin-top: 290px;
    height: 800px;
    background-image: url("http://localhost:8080/images/banner/light/footer.svg");
    background-size: cover;
}

.footer-link {
    font-size: 1.25rem;
    margin-bottom: 40px;
    color: var(--c-pri);
}

.footer-link i {
    font-size: 4rem;
    margin: 50px;
}

.footer-link i:hover {
    color: var(--c-bg-deep);
}

.footer-link a {
    color: var(--c-pri);
    font-weight: bold;
}

.footer-link a:hover span {
    color: var(--c-bg-deep);
}

.footer-link-margin {
    margin: 0 50px;
}

/* 字級 */

.h1 {
    font-size: 2rem;
    font-weight: bold;
}

.h2 {
    font-size: 1.5rem;
}

.h3 {
    font-size: 1.25rem;
}

/* input */

.h4 {
    font-size: 1.125rem;
}

.h5 {
    font-size: 1rem;
}

/* ReactModal */

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 5;
}

/* 登場動畫 */

/* .splash-screen {
    position: absolute;
    left: 0;
    overflow: hidden;
    z-index: 999999999;
    width: 100vw;
    height: 100vh;
    background: red;
} */

/* 客製化月曆 */

.rdrDateRangeWrapper, .rdrMonth {
    width: 100% !important;
    height: 100%;
}

/*! EVENT */

/* 快速選單 */

.quick-list-wrapper {
    height: 265px;
}

.quick-list {
    height: 90px;
    background: var(--c-pri-light);
    margin: 0 auto;
    border-radius: 20px;
}

.quick-list-option {
    height: 70px;
    border-radius: 20px;
    color: var(--c-pri);
    margin: 0 15px;
    transition: 0.2s;
    font-weight: bold;
}

.quick-list-option svg {
    align-self: center;
}

.quick-list-option:hover {
    background: white;
    color: var(--c-pri);
}

@media screen and (max-width: 1064px) {
    .quick-list-wrapper {
        height: 0;
    }
    .quick-list {
        border-radius: 0;
    }
}

/* 主內容 */

.section {
    margin: 0 auto;
}

.event-section-title {
    color: var(--c-bg-light);
    padding-left: 3.2%;
    padding-top: 50px;
    padding-bottom: 10px;
}

.event-section-subtitle {
    color: var(--c-sec-mid-night);
    padding-left: 3.2%;
}

@media screen and (max-width: 1064px) {
    .event-section-title, .event-section-subtitle {
        text-align: center;
    }
    .event-section-title {
        padding-right: 150px;
        padding: 20px;
    }
    .event-section-subtitle {
        display: flex;
        justify-content: center;
        padding-bottom: 30px;
    }
}

/* 卡片 */

.card-wrapper {
    padding: 50px 0;
    flex-wrap: wrap;
    justify-content: center;
    /* max-width: 1840px; */
}

.event-card {
    width: 432px;
    height: 490px;
    border-radius: 50px;
    background: var(--c-bg-mid);
    margin: 0 14px 50px 14px;
    padding: 31px;
    transition: 0.2s;
}

.event-card:hover, .event-card-forhome:hover {
    box-shadow: var(--shadow);
}

.card-img {
    width: 370px;
    height: 300px;
    border-radius: 50px;
}

.event-image {
    border-radius: 20px;
    object-fit: cover;
    overflow: hidden;
}

.card-title {
    font-weight: bold;
    color: var(--c-pri);
    margin-top: 10px;
    margin-bottom: 0;
}

.card-tag-hot::before {
    content: "熱銷中";
    color: white;
    font-size: 0.75rem;
    font-weight: lighter;
    display: flex;
    align-items: top;
    justify-content: center;
    background: var(--c-sec-deep);
    border-radius: 5px;
    padding: 0 10px;
    height: 60%;
    position: absolute;
    left: -65px;
    top: 5px;
}

.card-tag-new::after {
    content: "新活動";
    color: white;
    font-size: 0.75rem;
    font-weight: lighter;
    display: flex;
    align-items: top;
    justify-content: center;
    background: var(--c-sec-light);
    border-radius: 5px;
    padding: 0 10px;
    height: 60%;
    position: absolute;
    left: -65px;
    top: 5px;
}

.card-tag-new.card-tag-hot::before {
    content: "熱銷中";
    color: white;
    font-size: 0.75rem;
    font-weight: lighter;
    display: flex;
    align-items: top;
    justify-content: center;
    background: var(--c-sec-deep);
    border-radius: 5px;
    padding: 0 10px;
    height: 60%;
    position: absolute;
    left: -65px;
    top: 5px;
}

.card-tag-hot.card-tag-new::after {
    content: "新活動";
    color: white;
    font-size: 0.75rem;
    font-weight: lighter;
    display: flex;
    align-items: top;
    justify-content: center;
    background: var(--c-sec-light);
    border-radius: 5px;
    padding: 0 10px;
    height: 60%;
    position: absolute;
    left: -65px;
    top: 30px;
}

.card-content {
    font-size: 1.125rem;
    margin-top: 5px;
}

.card-content svg {
    font-size: 1.375rem;
}

.card-content span {
    margin: 0 2.5px;
}

.card-content .review-times, .card-content .attend-times {
    font-size: 0.75rem;
    align-self: flex-end;
    margin: 0 5px;
}


@media screen and (max-width: 940px) {
    .card-wrapper {
        padding: 0;
        overflow: scroll;
        flex-wrap: nowrap;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
        justify-content: flex-start;
        padding-bottom: 80px;
    }
    .card-wrapper::-webkit-scrollbar {
        display: none;
    }
    .event-card {
        width: 350px;
        height: 490px;
        border-radius: 50px;
        background: var(--c-bg-mid);
        margin: 0 10px 20px 10px;
        padding: 25px;
    }
    .card-img {
        width: 300px;
        height: 300px;
        border-radius: 50px;
    }
    .card-tag-hot::before {
        padding: 0 5px;
        left: -50px;
    }
    .card-tag-new::after {
        padding: 0 5px;
        left: -50px;
    }
    .card-tag-new.card-tag-hot::before {
        padding: 0 5px;
        left: -50px;
    }
    .card-tag-hot.card-tag-new::after {
        padding: 0 5px;
        left: -50px;
    }
}

/* 客製化 */

.cus-main {
    /* min-width: 1920px; */
    margin-top: 100px;
    height: 1000px;
    background: var(--c-bg-deep);
}

.cus-determine-submit {
    color: #fefbe6;
    font-size: 18px;
    background: var(--c-pri);
    width: 150px;
    /* height: 60px; */
    margin-top: 30px;
    border-radius: 30px;
    text-align: center;
    line-height: 50px;
}

.cus-determine-submit:hover {
    color: #fefbe6;
    background: var(--c-pri-light)
}

.cus-determine-total {
    font-size: 1.75rem;
    display: flex;
    align-items: flex-end;
    line-height: 60px;
    margin: 0;
    color: var(--c-sec-deep)
}

/* React Date Range */

.rdrDateDisplay {
    color: transparent !important;
}

.rdrStartEdge, .rdrEndEdge, .rdrInRange {
    color: var(--c-sec-deep) !important;
}

.rdrDayToday .rdrDayNumber span:after {
    background: var(--c-sec-deep) !important;
}

.rdrDateDisplayWrapper, .rdrNextPrevButton, .rdrPprevButton {
    background: var(--c-bg-light);
}

.cus-display-link li {
    color: var(--c-sec-light);
    text-align: center;
    border-radius: 15px;
    margin: 0 5px;
    width: 150px;
}

.cus-display-link li:hover {
    background: var(--c-pri);
    color: var(--c-bg-light);
}

/* 商品紙娃娃系統 */

.item-title {
    font-size: 36px;
    font-weight: bold;
    color: #637f60;
    margin: 50px;
}

.item-oddBackground {
    margin: 50px;
    background: #ffefc4;
    border-radius: 20px;
}

.item-evenBackground {
    margin: 50px;
    background: #cede98;
    border-radius: 20px;
}

.cus-item-text h3 {
    font-size: 36px;
    font-weight: bold;
    color: #849b68;
    margin-bottom: 50px;
}

.cus-item-text p {
    font-size: 24px;
    color: #849b68;
}

/* 套裝行程 */

.set-select {
    /* width: 1085px; */
    height: 90px;
    /* border: red 1px solid; */
    margin: 60px 0;
    border-radius: 15px;
    background: var(--c-pri-light);
}

.set-select-li {
    width: 242px;
    height: 73px;
    font-weight: bold;
    color: var(--c-pri);
    /* border: red 1px solid; */
    margin: 0 30px;
    border-radius: 15px;
    line-height: 73px;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
}

.set-select-li:hover {
    background: #fff;
    cursor: pointer;
}

.set-select-li i {
    font-size: 1.5rem;
    color: var(--c-pri);
}

@media screen and (max-width: 1240px) {
    .set-select-li {
        display: grid;
        text-align: center;
        margin: 0 10px;
        width: 150px;
        height: 60px;
        line-height: 20px;
    }
    .set-select-li div {
        display: inline;
        font-size: 1rem;
        height: 0;
    }
    .set-select-li i {
        font-size: 1rem;
    }
}

@media screen and (max-width: 768px) {
    header img {
        margin-bottom: 10px;
    }
    .set-select {
        border-radius: 0;
        margin: 0;
        /* padding: 0; */
        position: fixed;
        bottom: 0;
        z-index: 1;
    }
    .set-select-li {
        display: grid;
        text-align: center;
        margin: 0 10px;
        width: 80px;
        height: 60px;
        line-height: 20px;
    }
}

.set-article {
    /* min-height: 3500px; */
    background: var(--c-bg-deep);
}

.set-man-box {
    /* margin: 60px; */
    margin-right: 10px;
}

.set-main-tittle {
    color: var(--c-bg-light);
    display: inline-block;
    /* font-size: 3.25rem; */
    font-weight: bold;
    margin: 75px 0 25px 15px;
}

.set-main h5 {
    color: var(--c-bg-mid);
    /* font-size: 1rem; */
    margin-bottom: 65px;
    margin-left: 15px;
}

@media screen and (max-width: 768px) {
    .set-main-tittle {
        display: block;
        text-align: center;
        font-size: 1.25rem;
        font-weight: bold;
        margin: 20px 0 5px 0;
        padding-top: 15px;
    }
    .set-main h5 {
        text-align: center;
        margin: 0 0 25px 0;
    }
}

/* 卡片 */

.set-card {
    max-width: 430px;
    height: 600px;
    border-radius: 60px;
    margin: 0 15px 30px 20px;
    transition: .2s;
    background: var(--c-bg-mid);
}

.set-card-title h3 {
    margin: 0 15px;
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--c-pri);
}

.set-card-content span {
    /* text-align: center; */
    margin: 5px 0;
    font-size: 1.125rem;
    color: var(--c-bg-deep);
}

.set-card-icon {
    /* border: red 1px solid; */
    color: var(--c-bg-deep);
    display: flex;
    justify-content: center;
}

/* 首頁 */

/* 快速選單 */

.tabs {
    padding: 4px;
    background: var(--c-pri-light);
    border-radius: var(--r-l);
    gap: 4px;
}

.tabs-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--r-m);
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--c-pri);
}

.tabs-item.active, .tabs-item:hover {
    background: var(--c-bg-light);
    color: var(--c-pri);
}

.title {
    padding-top: 20px;
    margin-left: 90px;
    color: var(--c-pri);
}

/* 商品卡片 */

.event-card-forhome {
    overflow: hidden;
    border-radius: 50px;
    background: var(--c-bg-mid);
    transition: 0.2s;
}

.set-card-forhome {
    height: 220px;
    border-radius: 20px;
    margin: 0 15px 30px 20px;
    transition: .2s;
    background: var(--c-pri-light);
}

/* 小測驗 */

#wizard {
    background: var(--c-pri);
}

.wizard-banner {
    margin: 0;
    height: 300px;
    background: var(--c-pri);
}

.wizard-banner figure {
    margin: 0;
    padding: 0;
    border-top-right-radius: var(--r-xl);
    border-bottom-right-radius: var(--r-xl);
    background: var(--c-pri-light);
}

.wizard-banner h3, .wizard-tips a {
    color: var(--c-sec-mid);
}

.wizard-tips a:hover {
    color: var(--c-sec-deep);
}

.wizard-banner h2 {
    color: var(--c-bg-mid);
}

.wizard-result-card {
    height: 300px;
    display: flex;
    background: var(--c-bg-mid);
    border-radius: 20px;
    color: var(--c-pri);
}

.wizard-carousel {
    display: flex;
    align-items: center;
    background: var(--c-pri);
}

.wizard-form {
    height: 300px;
    display: flex;
    flex-direction: column;
    background: var(--c-bg-mid);
    border-radius: 20px;
}

.wizard-form-range input[type="range"] {
    -webkit-appearance: none;
    /* overflow: hidden; */
    width: 100%;
    height: 20px;
    outline: none;
    background: var(--c-pri);
    border-radius: 50px;
}

.wizard-form-range input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    position: relative;
    width: 20px;
    height: 40px;
    background: var(--c-sec-deep);
    /* border-radius: 50%; */
}

.wizard-btn {
    position: absolute;
    z-index: 2;
    right: calc(50% - 75px);
    bottom: 5%;
    cursor: pointer;
    background: var(--c-bg-mid);
    color: var(--c-pri);
}

.wizard-tips {
    height: 120px;
    color: var(--c-bg-mid);
    background: var(--c-pri);
}

.text-start {
    color: var(--c-pri);
}

.quiz-text {
    color: var(--c-pri);
}

/* 搜尋 */

.home-search {
    width: 600px;
    height: 80px;
    background: var(--c-bg-mid);
    border-radius: 20px;
    position: absolute;
    right: 3%;
    bottom: 3%;
    z-index: 1;
}

.home-input {
    width: 100% !important;
    height: 56px;
    border: none;
    border-radius: 10px;
    margin: 10px;
}

.home-input::placeholder {
    color: var(--c-pri);
}

.home-input:focus {
    border-color: var(--c-sec-mid);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05), 0 0 8px #fab751;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05), 0 0 8px #fab751;
}

.search-icon {
    cursor: pointer;
    color: var(--c-pri);
    margin-right: 15px;
}

.search-icon:hover {
    color: var(--c-pri-deep);
}

.rwd-calendar input {
    width: 500px;
    border-radius: 10px;
}

.rwd-calendar {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--c-pri);
    padding: 10px 0;
    margin: 20px 0;
}

.DateInput_input {
    font-weight: 200;
    font-size: 19px;
    line-height: 24px;
    color: #484848;
    background: #fff;
    width: 100%;
    padding: 11px 11px 9px;
    border: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid transparent;
    border-left: 0;
    border-radius: 0
}

/* 活動詳細頁 */

.event-description {
    background: var(--c-bg-deep);
    color: var(--c-pri);
    padding: 30px 0;
}

.cancel-warning {
    color: var(--c-sec-mid);
}


.description-title {
    color: var(--c-pri);
    padding: 30px 0;
}

.description-title.review-grade {
    background: var(--c-bg-deep);
    color: var(--c-bg-light);
    padding: 15px 20px;
    border-radius: 20px;
}

.review-quantity {
    color: var(--c-bg-deep);
    margin-left: 50px;
}

.description-title.review-grade {
    background: var(--c-bg-deep);
    color: var(--c-bg-light);
    padding: 15px 20px;
    border-radius: 20px;
}

.review-quantity {
    color: var(--c-bg-deep);
    margin-left: 50px;
}

.review-page-number.active, .review-page-number:hover {
    background: white;
}

/* banner */

.banner-carousel {
    height: 875px;
    background: var(--c-bg-mid);
}

.banner-title {
    padding: 30px 4%;
    font-weight: bold;
    color: var(--c-sec-deep);
}

.event-title {
    margin: 20px 0;
    color: var(--c-pri);
}

.suggestion {
    padding: 40px 0 60px 0;
    margin-top: 20px;
}

.suggestion-title {
    margin: 10px 0;
}

.suggest-card-wrapper {
    flex-wrap: wrap;
    justify-content: center;
}

/* 日曆 */

.calendar {
    background: var(--c-bg-mid);
    margin: 30px 0;
    border-radius: 20px;
}

.SingleDatePickerInput {
    display: inline-block;
    background: #fff
}

.review-title {
    font-weight: bold;
    color: var(--c-pri);
}

/* intro動畫 */
.intro-map-night{
    display: none;
}
